<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BGAI Test Suite" verbose="2">
    <!-- 认证控制器测试 -->
    <test name="AuthController Tests">
        <classes>
            <class name="com.bgpay.bgai.controller.AuthControllerTest" />
            <class name="com.bgpay.bgai.controller.SimpleAuthControllerTest" />
        </classes>
    </test>
</suite> 